body{
 	margin:0;
	padding:0;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #B7FFFC;
}
a{  outline: none; text-decoration: none;}
a:link ,a:visited{text-decoration:none;color:inherit;}
ul{list-style: none;}

/*  menu */


.brand{padding-top: 0.3125em;padding-bottom: 0.3125em;font-size:1.5em;}
ul#horiznav ,#horiznav ul{
margin:0;
background-image: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
padding:0;
list-style-type:none;

height:55px;

}

#horiznav li{
float:left;/*float the li element so the menu's horizontal...*/
padding:0.5rem;

position:relative;

}

#horiznav li a{
display:block;/*make the link a block element...*/

line-height:30px;/*...and set the line-height to vertically centre the text*/
text-align:center;/*horizontally centre the text...*/

text-decoration:none;/*...and remove the default underline*/

}

#horiznav li a:hover{
color:#333333/*change the text colour on :hover*/}
#horiznav li ul{
display:none;/*hide the dropdown*/
position:absolute;/*position it absolutely..*/
left:0;/*...align the left edge with the left edge of the parent li...*/

}

#horiznav li:hover ul {
  display:block;/*display the ul when the parent li is hovered*/
  border: solid 2px;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}
#horiznav ul li ul {
	background-color:#ffffff;
	border:solid 1px #101010;
	border-radius: 15px; 
	overflow:hidden;
}
#horiznav li ul a{
background-color:#FFFFFF;
min-width:120px;
color:#121212;


}
#horiznav li ul a:hover{
	background-color:#41ACEA;
}
.active{text-shadow: 1px 1px 1px #ffffff;color:#4A4A4A !important;font-weight:bolder;}
/* fin de menu*/


table{background-color:#FFFFFF;width:90%;margin-left:5%;}
